# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
!example.tfvars

# Lambda zip artifacts
dist/
